@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

/* Main Container Styling */
.container {
    width: 100%;
    height: 40vw;
}

/* Active Navigation Link Styling */
.container .nav .nav-items ul .contact a {
    color: #eca049;
    text-shadow: 0px 3px 8px #eca049;
    text-shadow: 1px 1px 2px #232126;
    text-decoration: none;
}

/* Body Container Styling */
.body {
    max-width: 1200px;
    width: 100%;
    margin: 250px auto;
}

/* Main Heading Styling */
.container .body form h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 4px 16px #eca049;
}

/* Highlighted Text in Header */
.container .body form h1 span {
    color: #eca049;
    text-shadow: 2px 1px 2px white;
}

/* Form Styling */
.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

/* Text Section in Form */
.form .form-txt {
    flex-basis: 48%;
}

.form .form-txt h1 {
    font-weight: 600;
    color: white;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.form .form-txt #desc {
    color: white;
    font-size: 15px;
}

.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: white;
}

.form .form-txt p {
    color: white;
    font-size: 14px;
}

/* Form Details Section */
.form .form-details {
    flex-basis: 40%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    color: #000;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 16px;
    margin: 25px 15px;
    font-size: 14px;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: #000;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 16px;
    font-size: 14px;
    resize: none;
}

.form .form-details button {
    padding: 15px 25px;
    color: #fff;
    font-weight: bold;
    background: #eca049;
    border-radius: 16px;
    box-shadow: 0px 3px 17px 3px #ac6031;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}