/* Reset and Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Body Styling */
body {
    background-color: black;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main Container Styling */
.container {
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

/* Navigation Bar Styling */
.container .nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
}

/* Logo Styling */
.container .nav .nav-logo img {
    margin: 0 400px 0 65px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

/* Navigation Menu Styling */
.container .nav .nav-items ul {
    list-style-type: none;
    margin-right: 320px;
    display: flex;
}

/* Navigation Links Styling */
.container .nav .nav-items ul li {
    margin-right: 20px;
    padding: 6px 5px;
    color: #232126;
    font-family: math;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Active Link Styles */
.container .nav .nav-items ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Hover Effect for Links */
.container .nav .nav-items ul li a:hover {
    color: #eca049;
    border-bottom: 1px solid #eca049;
    padding-bottom: 5px;
    opacity: 0.8;
    border-radius: 3px;
}

/* Navigation Icons Styling */
.container .nav .nav-icons i {
    margin-right: 15px;
    cursor: pointer;
    font-size: 22px;
    color: white;
}

.nav-icons i:hover {
    color: #c28b15;
    transform: scale(1.2);
}

/* Active icon style (example for the "user" icon) */
.nav-icons #active {
    color: #eca049;
    font-size: 28px;
}

/* Button Styling in the Page Body */
.container .body button {
    border: none;
    padding: 12px 50px;
    border-radius: 16px;
    background-color: #232126;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: 2px 4px 15px -1px #232126;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

/* Button Hover Effect */
.container .body button:hover {
    background-color: black;
    border: 1px solid white;
}