/* Global reset for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container styling */
.main {
    width: 100%;
    margin-top: 180PX;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

/* Profile card container */
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    border: 1px solid #ffffff40;
    box-shadow: 0 4px 20px #eca049;
}

/* Image container for profile picture */
.image {
    position: relative;
    height: 150px;
    width: 150px;
}

/* Styling for the profile picture */
.image .profile-pic {
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4);
}

/* Profile data container (name, title, etc.) */
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    color: white;
}

/* Profile name styling */
.data h2 {
    font-size: 33px;
    font-weight: 600;
}

/* Styling for additional text (e.g., title) */
span {
    font-size: 18px;
}

/* Row container for different sections */
.row {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

/* Information block within a row */
.row .info {
    text-align: center;
    padding: 0 15px;
}

/* Buttons container styling */
.buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

/* Button styling */
.buttons .btn {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding: 8px 25px;
    border-radius: 15px;
    font-size: 18px;
    white-space: nowrap;
    background: linear-gradient(to left, #c28b15 0%, #c8840e 100%);
    box-shadow: 0 5px 15px rgba(194, 139, 21, 0.6),
        0 3px 6px rgba(0, 0, 0, 0.2);
    /* Soft glow and depth effect */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Smooth animation */
}

/* Button hover effect */
.buttons .btn:hover {
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
}